.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a, a:link, a:visited {
  text-decoration: none; /* A mágica acontece aqui: remove o sublinhado */
  color: var(--primary-color); /* Exemplo: usa sua cor primária. Mude se precisar. */
  font-weight: bold; /* Opcional: deixa o texto em negrito, dando mais destaque */
  transition: opacity 0.2s ease-in-out; /* Opcional: efeito suave no hover */
}

/* Opcional: Adiciona um efeito sutil quando o mouse passa por cima */
a:hover {
  opacity: 0.8; /* Deixa o link um pouco mais claro no hover */
}

/* Se quiser estilizar APENAS aqueles links específicos, 
  você pode usar as classes que já criou:
*/
.link-login, .link-cadastro {
  text-decoration: none;
  font-weight: bold;
  /* color: #SUA_COR_ESPECIFICA; */
}